.productDetails{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.productDetail__info{
  background-color: #f7f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 80%;
  margin-top: 7rem;
  outline: 1px solid rgb(91, 23, 238);
  border-radius: 15px;
}
.productDetail__container--imgs{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.productDetail__container--ImgOne{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.productDetail__container--ImgOne button{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  font-size: 17px;
  background-color: #8879f7;
  color: #fff;
  cursor: pointer;
  transition: .4s;
}
.productDetail__container--ImgOne button:hover{
  background-color: #3423b0;

}
.productDetail__arrayImgs{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
}
.productDetails__imgsOne{
  width: 15rem;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.productDetails__imgs{
  width: 4.5rem;
  height: 4.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
}
.productDetail__detail{
  width: 50%;
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productDetail__detail h2{
  font-size: 20px;
}
.productDetail__detail p{
  font-size: 13.5px;
}
.productDetail__priceAndContador{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin-top: 1rem ;
  padding-right: 9rem;
}

.productDetail__contador--container p{
  font-size: 12px;
}
.productDetail__contador{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  width: fit-content;
  height: 28px;
  border-radius: 5px;
}
.productDetail__contador b{
  outline: 1px solid rgb(172, 169, 169);
  padding: 3.2px 20px;
}
.productDetail__contador button{
  height: 100%;
  padding: 2px 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(175, 151, 252);
  cursor: pointer;
  font-weight: 500;
}
.productDetail__contador .btn1{
  border-radius: 5px 0 0 5px;
}
.productDetail__contador .btn2{
  border-radius: 0 5px 5px 0;
}
.productDetail__contador button:hover{
  font-weight: bold;
  background-color: rgb(210, 171, 247);
}
.productDetail__addCart{
  background-color: #6755ed;
  color: #fff;
  width: 100%;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}
.productDetail__addCart:hover{
  background-color: #3423b0;
}


/* productos recomendados */

.productDetail__recommended{
  margin: 5rem 0;
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  cursor: pointer;
}
.productDetail__recommended--imgs{
  background-color: rgb(159, 93, 236);
  width: 21%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 3px 10px #5a5a5c;
  border-radius: 18px;
  transition: .5s;
}
.productDetail__recommended--imgs:hover{
  transform: scale(1.02);
  background-color: rgb(78, 2, 163);
  color: #fff;
}
.productDetail__recommended--container--imgs{
  border-radius: 18px 18px 0 0;
  width: 100%;
  height: 70%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail__recommended--img{
  /* border-radius: 5px; */
  width: 90%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.productDetail__recommended--info{
  width: 100%;
  font-size: 14px;
  text-align: center;
}