.productDetails{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  background-color: rgb(167, 235, 212);
}
.productDetail__info{
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 80%;
  margin-top: 7rem;
}
.productDetail__container--imgs{
  background-color: aqua;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.productDetail__container--ImgOne{
  width: 100%;
  height: 70%;
  background-color: rgb(93, 93, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail__arrayImgs{
  width: 100%;
  height: 30%;
  background-color: rgb(164, 34, 215);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}
.productDetails__imgsOne{
  width: 15rem;
  height: 15rem;
  /* background-color: yellowgreen; */
  border: 1px solid #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.productDetails__imgs{
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  background-color: black;
}
.productDetail__detail{
  background-color: blanchedalmond;
  width: 50%;
  /* width: 100%; */
  height: 100%;
  padding: 1rem;
}