.Container__Purchases{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 3rem;
  padding-bottom: 3rem;
}
.purchases__title{
  margin-top: 10rem;
  text-align: end;
}
.card__purchases{
  outline: 1px solid #140538;
  border-radius: 25px;
  padding-bottom: 2rem;
  width: 90%;
  background-color: #fcfbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__tabla{
  width: 100%;
  height: 50px; 
  display: flex;
  /* justify-content: ; */
  align-items: center;
  background-color: rgb(78, 2, 163);
  border-radius: 25px 25px 0 0;
  color: white;
  gap: 5rem;
}
.info__tabla--text{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.Header__fecha{
  padding: 1rem;
  font-size: 17px;
  font-weight: bold;

}
.card__purchases--content{
  width: 82%;
  height: 100%;
  padding-top: .5rem;
}
.card__product--purchases{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  margin-top: 20px;
}
.product__quantity--purchases{
  width: 2.5rem;
  height: 2.2rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b1afaf;
  border-radius: 10px;
  background-color: #815ffb;
  color: #fff;
}
.price__product{
  font-size: 15px;
}
.price__product b{
  color: #32b987;
}
.product__title--purchases{
  display: flex;
  gap: 2rem;
  font-size: 13px;
}
.img__products--purchases{
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
