/* contenedor general del login in */
.createAccount{
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* circulo del logo */
.createAccount__card--imgCircle{
  width: 6.5rem;
  height: 6.5rem;
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
  text-align: center;
  background-color: #7746e9;
}
/* logo del e-commerce */
.createAccount__card--container-logo{
  width: 6rem;
  height: 6rem;
  padding-top: 1rem;
  background-color: #0a0947;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
  text-align: center;
  color: #fff;
}
/* imagen del logo  */
.createAccount__card--img{
  background-image: url('../../../assets/imgs/tienda.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 4rem;
  height: 3rem;
  border-radius: 100%;

}
/* contenedor del formulario */
.createAccount__card{
  background-color: #cfbef0;
  width: 21rem;
  height: 38rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5rem;
  gap: .4rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
/* formulario */
.createAccount__card--form{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
/* contenedor de losinputs del formulario */
.createAccount__card--input{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* contenedor del boton del formulario */
.createAccount__card--inputBtn{
  display: flex;
  align-items: center;
}
/* inputs del formularios */
.createAccount__card--input>input{
  width: 100%;
  height: 1.8rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
}
.createAccount__card--input>input:focus{
  border-bottom: 2px solid #060536;
}
/* estilos de los iconos de los inputs */
.createAccount__card--input label .fa-solid{
  font-size: 20px;
  color: #6868ec;
  text-shadow: 1.5px -1.5px 2px #070839 ;
}
/* boton de submit del formulario */
.createAccount__card--form button{
  width: 90%;
  padding: 5px 0;
  border-radius: 20px;
  background-color: #0a0947;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #0a0947;
}
/* footer del formulario */
.createAccount__cart--footerForm{
  font-size: 13px;
  margin-top: 2rem;
}
.createAccount__cart--footerForm .Link{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #5112e4;
}
.Link:hover{
  color: #060536;
}
.isVisible{
  position: relative;
  left: 90%;
  bottom: 30px;
}
