/* contenedor del footer */
.footer {
  width: 100%;
  height: 13rem;
  margin-top: 2rem;
  background-color: rgb(6, 1, 31);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
/* contenedor de la información de contacto */
.footer__contex {
  width: 25rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
/* información individual */
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* iconos */
.footer__icons {
  display: flex;
  gap: 5px;
}
/* links de contacto */
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: black;
}
/* estilos de los iconos */
.icons {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(147, 80, 210);
  cursor: pointer;
  transition: .3s;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
  font-size: 18px;
}